---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">Acerca de</a>
        <a href="/blog/">Bloguito</a>


		<h1>Acerca de Mi sitio web Astro, Como la vez carnal malparido conchatumae</h1>
        <h2>Acerca de este galan</h2>
        <p>Necesito trabajo por favor denme trabajo no quiero morir de hambre</p>
        <p>Soy un desarrollador web junior con ganas de aprender y crecer en la industria. Me apasiona crear experiencias web atractivas y funcionales.
        Estoy buscando oportunidades para colaborar en proyectos interesantes y seguir desarrollando mis habilidades.
        Si tienes alguna oportunidad o proyecto en mente, no dudes en contactarme. ¡Estoy emocionado por lo que el futuro me depara!</p>
    </body>
</html>
