---
import Baselayout from "../layouts/Baselayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Bloguito";
const allPosts = Object.values(import.meta.glob('./posts/*.md',{ eager:true}));
---

<Baselayout pageTitle={pageTitle}>
    <h1>Este es un {pageTitle}</h1>
    <h3>Donde desnudare mi alma</h3>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</Baselayout>